  html *
{
   /*font-size: 1em !important;*/
   color: #000 !important;
   font-family: monospace, sans-serif !important;
}
    table {
        /*font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;*/
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        border-collapse: collapse;
        border-spacing: 0;
    }
    table {
        /*margin: auto;*/
    }
    table, td, th {
        padding: 7px;
        /*text-align: center;*/
        border: 1px solid rgb(42, 107, 83);
    }
    th {
        background-color: rgb(99, 156, 140);
        color: white;
    }
    #likelihoods tr {
        cursor: pointer;
    }
    #likelihoods div.bar {
        height: 1em;
        background: #80C0FF;
    }
    #likelihoods tr.active {
        font-weight: bold;
    }
    #likelihoods tr.active div.bar {
        background: #60A0FF;
    }
     button {
      transition-duration: 0.4s;
background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
      }
    button:hover {
         background-color: #4CAF50; /* Green */
  color: white;

    }
